@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.detail-card .card-body .titulo-card, .card-productos .card .card-title {
  font-family: "Lilita One", cursive;
}

.detail-card .card-body .contenedor-precio-stock-detail, .detail-card .card-body .sin-stock, .detail-card .card-body .esencias, .detail-card .card-body .desc-card, .card-productos .card .contenedor-precio-stock, .card-productos .card .card-text {
  font-family: "Borel", cursive;
}

.detail-card .card-body .boton-esencia, .card-productos .card .contenedor-boton-cards .boton-card {
  color: black;
  background-color: lightgreen;
  border: 1px solid rgb(173, 173, 173);
  font-family: "Lilita One", cursive;
  transition: scale 0.3s;
}
.detail-card .card-body .boton-esencia:hover, .card-productos .card .contenedor-boton-cards .boton-card:hover {
  scale: 1.1;
  transition: scale 0.3s;
}

.detail-card .card-body .sin-stock, .card-productos .card .contenedor-precio-stock .sin-stock {
  color: white;
  background-color: rgba(200, 31, 31, 0.89);
  border-radius: 7px;
  padding: 10px 3px 0px 3px;
}

.detail-card, .card-productos .card {
  background-color: lightpink;
}

.detail-card .card-body .btn-agregar-carrito:hover::after, .detail-card .card-body .btn-agregar-carrito::after, .detail-card .card-body .btn-agregar-carrito:hover, .detail-card .card-body .btn-agregar-carrito {
  -webkit-transition: all 0.54s;
  transition: all 0.54s;
}

.div-carrito-vacio .btn-carrito-vacio:active, .div-carrito-vacio .btn-carrito-vacio, .detail-card .card-body .btn-agregar-carrito, .detail-card .card-body .esencias:hover, .detail-card .card-body .boton-esencia {
  background-color: rgb(157, 64, 78);
}

.navbar {
  background-image: url(../../public/assets/img/svg-nav.svg);
  background-size: cover;
}
.navbar .text-icon {
  border-bottom: 1px solid white;
}
.navbar .item-nav {
  color: white;
  text-shadow: 0px 0px 20px white;
  transition: transform 0.7s;
}
.navbar .item-nav:hover:not(.text-icon) {
  transform: scale(1.2);
  transition: transform 0.7s;
}
.navbar .nav-link.show {
  color: white;
  text-shadow: 0px 0px 20px white;
  transform: scale(1.2);
  transition: transform 0.7s;
}
.navbar .dropdown-menu {
  background-color: rgb(137, 18, 192);
  border: 1px solid white;
}
.navbar .dropdown-menu * {
  color: white;
  transition: background-color 0.5s;
}
.navbar .dropdown-menu *:hover {
  background-color: rgb(99, 15, 138);
  transition: all 0.5s;
}
.navbar .cart-i {
  color: white;
  font-size: 2rem;
}
.navbar .cantidad-carrito {
  color: white;
  background-color: darkmagenta;
  display: flex;
  border-radius: 40%;
  height: 20px;
  width: 20px;
  justify-content: center;
}

.barra-busqueda {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.barra-busqueda form {
  width: 60vw;
  border-radius: 7px;
}
.barra-busqueda form input {
  background-color: rgb(219, 145, 157);
  border-radius: 7px;
  text-align: center;
  transition: all 0.5s;
}
.barra-busqueda form input::placeholder {
  text-align: center;
  color: white;
}
.barra-busqueda form input:focus {
  background-color: rgb(243, 171, 183);
  box-shadow: 0px 0px 15px 0px rgb(243, 171, 183);
}
.barra-busqueda form input:focus::placeholder {
  transition: color 0.5s;
  color: rgb(243, 171, 183);
}

.card-productos {
  margin: 4px;
  justify-content: center;
}
.card-productos .card {
  color: rgb(48, 38, 103);
  width: 18rem;
  height: 34rem;
  margin: 10px;
  box-shadow: 0 0 5px 0px #000000;
}
.card-productos .card .contenedor-imagen {
  height: 50%;
  border-radius: 10px;
  border: 1px dashed black;
  background-color: pink;
  box-shadow: inset 0 0 2px 0px #000000;
}
.card-productos .card .contenedor-imagen .imagen-card {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-productos .card .card-text {
  padding-top: 10px;
}
.card-productos .card .contenedor-precio-stock {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.card-productos .card .contenedor-boton-cards {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.detail-card {
  padding: 0px;
}
.detail-card img {
  border-radius: 14px;
}
.detail-card .card-body {
  text-align: center;
}
.detail-card .card-body .titulo-card {
  font-size: 25px;
}
.detail-card .card-body .desc-card {
  font-size: 20px;
  padding-top: 10px;
}
.detail-card .card-body .boton-esencia {
  letter-spacing: 0.1rem;
  font-weight: 100;
  color: white;
  display: flex;
  margin: 10px;
}
.detail-card .card-body .esencias {
  font-size: 20px;
  background-color: rgb(206, 121, 134);
  transition: 0.3s;
}
.detail-card .card-body .esencias:hover {
  color: white;
  transition: 0.3s;
}
.detail-card .card-body .contenedor-precio-stock-detail {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.detail-card .card-body .btn-agregar-carrito {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.detail-card .card-body .btn-agregar-carrito:hover {
  transform: scale(1.04);
}
.detail-card .card-body .btn-agregar-carrito::after {
  content: "";
  background-color: rgb(119, 49, 60);
  position: absolute;
  z-index: -1;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}
.detail-card .card-body .btn-agregar-carrito:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.div-carrito-vacio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 268.88px);
}
.div-carrito-vacio .btn-carrito-vacio {
  transition: transform 0.7s;
}
.div-carrito-vacio .btn-carrito-vacio:hover {
  background-color: rgb(119, 49, 60);
  transform: scale(1.08);
  transition: transform 0.7s;
}

/*# sourceMappingURL=App.css.map */
